p {
	color: black;
	text-align: center;
}
canvas {
	border: 1px solid #d3d3d3;
	background-color: #f1f1f1;
	display: block;
	padding: 0;
    	margin: auto;
	width: 500px;
   	height: 900px;
}
#btnstart { /*set size of button*/
	height: 20px;
	width: 100px;
}
#btnrestart { /*set size of button*/
	height: 20px;
	width: 100px;
}
#container { /*align buttons centre of screen next to each other*/
	text-align: center;
}